 #main{
background-color:  #b3a159;
 text-align: center;
 margin:  40px;
 padding: 20px;
 border-style: solid;
 border-radius: 20px;
 margin-left: 300px;
 margin-right: 300px;

}

 #summary{        
  background-color:#acb072; 
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 40px ;

 }

 img{
    width: 300px;
    height: 300px;
 	  border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: solid 10px #acb072;

}

 #inline{
 
  text-align: center;

 }

 span{
    border-style: ;
    margin: 100px;
    font-style: italic;
    font-size: 30px;
    font-weight: bolder;
    background-color: #b3a159;
    border-radius: 20px;
    border-style: solid;
    padding: 10px;
}

 h3{

    margin: 40px;
    margin-right: 180px;
    margin-left: 180px ;
 }

  ul{
    margin-top: 10px all;

    margin: 40px;
    margin-left: 150px ; 
    margin-right: 150px;
  }

  h3{

    padding: 10px;
    border-style: solid;
    border-radius: 20px;
    background-color: #acb072;

 }
 
a{ 
  margin-left: 180px;
   font-family: Times New Roman;
  background-color:  #b3a159;
  border-style: solid;
  background-size: cover;
  background-position: center;
  padding: 10px;
  border-radius: 20px;
  margin-top: 40px;
}

p{ 
  padding: 20px; 
  
  

  }


  




   

